</div>
<footer class="page-footer orange">
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="soham1.github.io">Soham Ashodiya</a>
    </div>
  </div>
</footer>
<script src="/public/js/main.js"></script>
</body>

</html>