<% include layout-header %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <h2 class="header">My Pins</h2>
  <div id="mainContent">
    <div class="grid">
      <% for(var i=0 ; i < pins.length; i++) {%>
        <div class="grid-item">
          <div class="card">
            <div class="card-image">
              <img src="<%=pins[i].pinUrl%>">
            </div>
            <div class="card-content">
              <p>
                <%=pins[i].title%>
                by <%=pins[i].userName%>
              </p>
            </div>
          </div>
        </div>
        <%}%>
    </div>
  </div>
<% include layout-footer %>