#mainBody {
    padding-left: 10px;
    min-height: 300px;
}

.input {
    width: 700px !important;
}

.grid-item {
    width: 280px;
}

.grid-item--width2 {
    width: 400px;
}

#mainContent {
    min-height: 385px;
}